.home {
  max-width: 750px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0; }
  .home__create {
    margin-right: 40px; }
  .home__list {
    flex-grow: 1; }

.create-item__field:not(:first-child) {
  margin-top: 10px; }

.create-item__btn {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end; }
