.container {
  max-width: 750px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0; }

.create {
  margin-right: 40px; }

.list {
  flex-grow: 1; }

.field:not(:first-child) {
  margin-top: 10px; }

.btn {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end; }
